<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arino.mapper.MenuMapper">

    <select id="getAllMenus" resultMap="menu">
        select *
        from menu
        where pid = 0 order by 'order' asc ;
    </select>
    <resultMap id="menu" type="Menu">
        <result property="id" column="id"/>
        <result property="authName" column="authName"/>
        <result property="path" column="path"/>
        <result property="order" column="order"/>
        <collection property="children" ofType="Menu" select="getChildrenById" column="{id=id}"/>
    </resultMap>
    <select id="getChildrenById" resultType="Menu">
        select *
        from menu
        where pid = #{id};
    </select>
</mapper>