<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arino.mapper.PermissionMapper">
    <select id="getPermissions" resultMap="PermissionMap">
        select *
        from permission
                 join permission_api pa on permission.ps_id = pa.ps_id
    </select>

    <select id="getPermissionById" resultMap="PermissionMap">
        select *
        from permission
                 join permission_api pa on permission.ps_id = pa.ps_id
        where permission.ps_id=#{id}
    </select>

    <resultMap id="PermissionMap" type="Permission">
        <result property="id" column="ps_id"/>
        <result property="pid" column="ps_pid"/>
        <result property="authName" column="ps_name"/>
        <result property="path" column="ps_api_path"/>
        <result property="level" column="ps_level"/>
        <!--<collection property="children" ofType="Permission" select="getChildrenById" column="{pid=ps_id}"/>-->
    </resultMap>

    <!--<select id="getChildrenById" resultMap="PermissionMap">-->
    <!--    select *-->
    <!--    from permission-->
    <!--             join permission_api pa on permission.ps_id = pa.ps_id-->
    <!--    where ps_pid = #{pid}-->
    <!--</select>-->

</mapper>