<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arino.mapper.RoleMapper">
    <select id="getRoleById" parameterType="int" resultMap="RoleMap">
        select *
        from role
        where id = #{id};
    </select>

    <select id="getRoleByName" parameterType="String" resultMap="RoleMap">
        select *
        from role
        where role_name = #{name};
    </select>

    <select id="getRoles" resultMap="RoleMap">
        select *
        from role;
    </select>

    <insert id="addRole">
        insert into role (role_name, role_desc)
        values (#{roleName}, #{roleDesc});
    </insert>

    <update id="updateRole">
        update role
        set role_name=#{name},
            role_desc=#{desc}
        where id = #{id}
    </update>

    <delete id="deleteRole">
        delete
        from role
        where id = #{id}
    </delete>

    <update id="deleteRoleRight">
        update role
        set ps_ids=replace(ps_ids, #{rightId}, '')
        where id = #{roleId};
        update role
        set ps_ids=replace(ps_ids, ',,', ',')
        where id = #{roleId};
    </update>

    <update id="allotRights">
        update role
        set ps_ids=#{rights}
        where id = #{roleId}
    </update>

    <resultMap id="RoleMap" type="Role">
        <result property="roleName" column="role_name"/>
        <result property="roleDesc" column="role_desc"/>
        <result property="permissions" column="ps_ids"/>
    </resultMap>
</mapper>